---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: {% if page.header-img %} url('{{ site.BASE_PATH }}{{ page.header-img }}'){% endif %}{% if page.bg-color %} {{ page.bg-color }}{% endif %}
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
<!-- Main Content -->
	<div class="container">
		<div class="row">
		<!-- Post Container -->
    		<div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">			
    			{{ content }}			
				<p class="text-right"></p>
				 
                <ul class="pager">
                    {% if page.previous %}
                    <li class="previous">
                      <a href="{{ site.BASE_PATH }}{{ page.previous.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<br>
                      <span>{{page.previous.title}}</span></a></li>
                    {% else %}
                    <li class="previous disabled"><a>&larr; Previous</a></li>
                   {% endif %}
                   {% if page.next %}
                    <li class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next &rarr;<br>
                    <span>{{page.next.title}}</span></a></li>
                    {% else %}
                    <li class="next disabled"><a>Next &rarr;</a>
                    {% endif %}
                </ul> 
                <div  id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
				<script>
				  var cloudTieConfig = {
				    url: document.location.href, 
				    sourceId: "",
				    productKey: "ce519e3e5f9c4e13b43e1f7b9850c0ed",
				    target: "cloud-tie-wrapper"
				  };
				</script>
				<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js">
				</script>  
		  	 </div>
           </div>	        
       </div> 
 </article>





